@import './themes.css';
@import './typography.css';
@import 'tailwindcss';
@import './layout.css';
@import 'tw-animate-css';
@import './components.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-2xl: 90rem;
  --max-width-2xl: 90rem;
  --breakpoint-3xl: 120rem;
  --max-width-3xl: 120rem;

  --color-surface-dark: var(--surface-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-peach: var(--surface-peach);

  --color-surface-teal: #0e3a44;
  --color-surface-light-blue: #6dd5ec;
  --color-surface-light-orange: #faddd5;
  --color-surface-light-teal: #d5f3fa;
  --color-surface-light-white: #f5f5f5;

  --color-foreground-light: #2e1109;
  --color-foreground-dark: #f5f5f5;
  --color-foreground-teal: #09272e;
  --color-foreground-muted: #ababab;
}

@theme inline {
  --color-primary-hover: var(--primary-hover);
  --color-primary-disabled: var(--primary-disabled);
  --color-primary-foreground: var(--primary-foreground);
  --color-outline-hover: var(--outline-hover);

  /* System Colors */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-icon-input: var(--icon-input);
  --color-badge-color: var(--badge-color);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  /* Apply universal styles */
  * {
    @apply border-border outline-ring/50;
  }

  /* Body styles for background and text color */
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .noScrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .noScrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.cards-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @apply h-[95dvh] justify-around md:h-[90dvh] xl:h-[90dvh];
}

.cards-container {
  position: relative;
  display: flex;
  flex-direction: column;
  @apply -mt-[100px] h-[347px] w-full md:mt-0 md:h-1/2 md:w-3/4 xl:-mt-[100px] xl:h-[416px] xl:w-[580px] 2xl:mt-0 2xl:h-[416px] 2xl:w-[580px];
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

svg.thicc-path {
  position: absolute;
  width: 100vw;
  height: 200vw;
  top: 0;
  left: 0;
  z-index: 1;
}

.glass-element {
  background-color: rgba(9, 39, 46, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
