/* All global css classes that deal with layout for pages*/

.screen-minus-navbar {
  min-height: calc(100vh - 5rem);
  height: calc(100vh - 5rem);
}

.screen-minus-navbar-explore {
  min-height: calc(100vh - 5.625rem);
  height: calc(100vh - 5.625rem);
}

.screen-minus-navbar-business {
  min-height: calc(100vh - 5.625rem);
}

.main-container {
  @apply h-dvh snap-y snap-proximity overflow-y-auto scroll-smooth;
}

.section-width-container {
  @apply mx-auto px-4 2xl:max-w-3xl 2xl:px-8;
}

.grid-12 {
  @apply grid grid-cols-4 gap-x-[clamp(1rem,2vw,2rem)] md:grid-cols-12;
}

.section-vertical-spacing {
  @apply py-32;
}

.inner {
  @apply mx-auto w-full px-4 md:px-6 2xl:px-12;
}
